version: '3'

services:
#
# Admin toolkit
  pgadmin4:
    image: dpage/pgadmin4
    container_name: pgadmin4${COMPOSE_PROJECT_NAME}
    expose: "80"
    volumes:
      - '/private/var/lib/pgadmin:/var/lib/pgadmin'
      - '/tmp/servers.json:/servers.json'
    environment:
      - PGADMIN_DEFAULT_EMAIL=geometoc@elasticlabs.co
      - PGADMIN_DEFAULT_PASSWORD=geometoc
      - VIRTUAL_HOST=pgadmin.sdi.elasticlabs.co
      - VIRTUAL_PORT=80
    networks:
      - apps

#
# Applications
  geonetwork:
    build: ./geonetwork
    container_name: geonetwork4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose: "8080"
    environment:
      - VIRTUAL_HOST=geonetwork.sdi.elasticlabs.co
      - VIRTUAL_PORT=8080
    volumes:
      - geonetwork-base:/usr/local/tomcat/webapps/geonetwork/WEB-INF
    networks:
      - apps
      - databases

  geoserver:
    build: ./geoserver
    container_name: geoserver4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose: "8080"
    environment:
      - VIRTUAL_HOST=geoserver.sdi.elasticlabs.co
      - VIRTUAL_PORT=8080
    volumes:
      - geoserver-data:/var/local/geoserver
      - geoserver-exts:/var/local/geoserver-exts   
    env_file:
      - ./scripts/docker/env/${SET_DOCKER_ENV}/geoserver.env
    networks:
      - apps
      - databases

#
# Backend databases & Admin tools


volumes:
  geonetwork-base:
    name: ${COMPOSE_PROJECT_NAME}-geonetwork-base
  geoserver-exts:
    name: ${COMPOSE_PROJECT_NAME}-geoserver-exts
  geoserver-data:
    name: ${COMPOSE_PROJECT_NAME}-geoserver-data

networks:
  apps:
  databases:
