version: '3'

services:
#
# Admin toolkit
  pgadmin4:
    image: dpage/pgadmin4
    container_name: pgadmin4${COMPOSE_PROJECT_NAME}
    expose: 
      - "80"
    volumes:
      - '/private/var/lib/pgadmin:/var/lib/pgadmin'
      - '/tmp/servers.json:/servers.json'
    environment:
      - PGADMIN_DEFAULT_EMAIL=geometoc@elasticlabs.co
      - PGADMIN_DEFAULT_PASSWORD=geometoc
      - VIRTUAL_HOST=pgadmin.sdi.elasticlabs.co
      - VIRTUAL_PORT=80
    networks:
      - apps
      - databases

#
# Applications
  geonetwork:
    build: ./geonetwork
    container_name: geonetwork4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose: 
      - "8080"
    environment:
      - VIRTUAL_HOST=geonetwork.sdi.elasticlabs.co
      - VIRTUAL_PORT=8080
    volumes:
      - geonetwork-base:/usr/local/tomcat/webapps/geonetwork/WEB-INF
    networks:
      - apps
      - databases

  geoserver:
    build: ./geoserver
    container_name: geoserver4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose: 
      - "8080"
    environment:
      - VIRTUAL_HOST=geoserver.sdi.elasticlabs.co
      - VIRTUAL_PORT=8080
    volumes:
      - geoserver-data:/var/local/geoserver
      - geoserver-exts:/var/local/geoserver-exts   
    networks:
      - apps
      - databases

#
# Backend databases & Admin tools
# Elasticsearch :
#   -> cluster setup documentation at https://www.elastic.co/guide/en/elasticsearch/reference/7.4/docker.html
#   -> generic parameters are located here for configuration readability
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.2
    container_name: elastic01-4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "9200"
    environment:
      - VIRTUAL_HOST=es01.sdi.elasticlabs.co
      - VIRTUAL_PORT=9200
      - node.name=es01
      - cluster.name=es-sdi-cluster
      - cluster.initial_master_nodes=es01
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data01:/usr/share/elasticsearch/data
    networks:
      - apps
      - databases

# Kibana :
#   -> cluster setup documentation at https://www.elastic.co/guide/en/kibana/7.4/docker.html
#   -> Configuration guide at https://www.elastic.co/guide/en/kibana/7.4/settings.html
  kibana:
    image: docker.elastic.co/kibana/kibana:7.4.2
    expose:
      - "5601"
    depends_on:
      - es01
    environment:
      - VIRTUAL_HOST=kibana.sdi.elasticlabs.co
      - VIRTUAL_PORT=5601
      - SERVER_NAME=kibana.sdi.elasticlabs.co
      - ELASTICSEARCH_HOSTS=http://es01.sdi.elasticlabs.co
    volumes:
      - ./elk-config/kibana.yml:/usr/share/kibana/config/kibana.yml
    networks:
      - apps
      - databases

# Logstash :
#   -> cluster setup documentation at https://www.elastic.co/guide/en/logstash/reference/7.4/docker.html

volumes:
  geonetwork-base:
  geoserver-exts:
  geoserver-data:
  es-data01:

networks:
  apps:
  databases:
